/* Styles for the metropolicatan opera 2 page website */

* {
    padding: 0;
    margin: 0;
}

body {
    background: tan;
    /* Make sure to have background color be before the image b/c if it was after, the color will overwrite the image because of cascading styles */
    background-image: url("images/notes.png");
    /* png = transparency */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-attachment: fixed;
}

div#wrapper{
    width: 940px;
    background: beige;
    margin: 20px auto;
    padding: 20px;
    overflow: hidden;
}

header {
    height:200px;
    background: #FFF;
    margin-bottom: 20px;
}

footer {
    height:50px;
    line-height: 50px; /*To center, make line-height = height*/
    background: tan;
    clear: both;
    font-size:0.9em;
    /* When you clear an element, you can't add a space above the 
    element with a martin-top. YOu need to use a margin-bottom 
    with the element above it */
}

footer ul {
    margin-left:20px;
}

footer li {
    list-style-type: none;
    float:left;
    margin-right: 30px;
    color: brown;
}

img.right {
    float: right;
    margin: 10px 0 10px 30px; /*TRBL*/
}

img.left {
    float: left;
    margin: 10px 30px 10px 0; /*TRBL*/
}

.center {
    /* NO FLOAT CENTER */
    margin: 20px auto;
    display: block;
    /* div is a block level element and image is an inline element, so you need to display the image as a block */
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h1, h2{
    margin: 0 0 8px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}


a {
    color: brown;
}

p {
    /* TRBL */
    margin: 0 0 20px 0;
    line-height: 1.4;
}
