 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }

/* @font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #8fbac4e5;
    background-image: url("../images/endless-clouds.svg");
    font-family: Arial, Helvetica, sans-serif;

}

div#wrapper {
    width: 940px;
    margin: 0 auto;
    
    background-image: url(../images/grid-16.png); 
    background-repeat: repeat-y;
    background-position: center;
    background: #273f45cc;
}

/* HEADER CONTENTS */

header {
    height: 210px;
    width: 100%;
    /* background: #D5E5F2; */
    /* background-image: url("../images/cookiebanner.jpg"); */
    background: #f3efe9;
    background-size: 100%;
    border-radius: 0 0 85px 85px;
    border: 3px solid #8fbac4;

}

.homeHead {
    height: 550px;
    background-image: url("../images/banner.jpg");
}

.logobox {
    float: left;
    width: 160px;
    margin: 25px 15px 0 20px;

    /* background: white; */
}

.logobox img {
    width: 130px;
    margin: 10px 5px 20px 5px;
    /* display: block; */
}

.logobox a {
    pointer-events:auto;
    display:block;
    text-align: center;
    text-decoration: none;
    color: #F3EFE9;
    background-color:#273F45;
    /* Primary: #453027 */
    border-radius: 135px;
    font-family: 'ralewaybold_italic';
}

.logobox h1 {
    margin-top: -38px;
    padding-bottom: 10px;
    font-size: 1.4em;
}

.social {
    position:fixed;
    right: 5px;
    top: 80px;
    margin-top: 3px;
}


.social li{
    list-style-type: none;
    margin-bottom: 5px;
}

.icon {
    width: 30px;
    margin-top: 5px;
}

.home #primary li:nth-child(1) a,
.about #primary li:nth-child(2) a,
.pastries #primary li:nth-child(3) a,
.order #primary li:nth-child(4) a,
.contact #primary li:nth-child(5) a,
.cart #primary li:nth-child(6) a {
    opacity: 70%;
}

#primary{
    float:right;
}

#primary li {
    list-style-type: none;
    float: left;
    /* background: #274537; */
    margin-top: 85px;
}

#primary a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #41281F;
    padding: 5px;
    margin-right: 12px;
}

#primary a:hover {
    color: #FAF8F5;
    opacity: .8;
    background: #273F45;
    border-radius: 18px;
    text-shadow: 1px 1px black;
}

.iconCart {
    width: 25px;
}


/* -----------------------------------------------  */
/* -----------------------------------------------  */
/* -----------------------------------------------  */
/* MAIN CONTENTS */

main {
    /* height: 750px; */
    clear: both;
}

/* TEMPORARY HEIGHTS */
.pastries main, .order main, .cart main {
    height: 750px;
}

/* FOR INDEX.HTML PAGE */
.row {
    /* background: rgba(128, 128, 128, 0.767); */
    /* height: 300px; */
    padding-left: 15px;
    overflow: hidden;
    /* margin-bottom: 20px; */
    margin-top: 45px;
}

.third {
    width: 290px;
    /* height: 285px; */
    /* background: rgba(73, 99, 102, 0.801); */
    margin-right: 20px;
    float: left;
    position:relative;
}

.third img {
    max-width: 100%;
    border-radius: 80px;
    border: 2px solid #8fbac4;
    z-index: 1;
}

.third p {
    position: absolute;
    top: 115px;
    left: 90px;
    /* top: 700px;
    left: 180px; */
}

.third a {
    text-decoration: none;
    color: #FAF8F5;
}

.third:last-of-type {
    margin-right: 0;
}

/* .blueberry img {
    border-radius: 250px;
} */

.left {
    float:left;
}

.right {
    float: right;
}

/* ABOUT PAGE */
.about main img {
    margin: -8px 15px 0 -2px;
    width: 250px;
    border-radius: 75px;
    border: 3px solid #8fbac4;
    display: flex;
}

#staff img {
    width: 400px;
    margin: -8px -1px 0 6px;
}

#owner, #staff, #ahours {
    margin: 60px 40px;
    color: #F3EFE9;
}

div#ownertext, div#stafftext, div#ahours{
    background-color: #273f45ef;
    padding: 15px;
    border-radius: 65px;
    border: 1px solid #8fbac4;
}

.about main p, .about main h2 {
    margin: 10px 10px 10px 20px;
} 

.about table {
    margin-left: 10px;
}

div#ahours td, #ahours th {
    padding: 2px 10px;
}

#ahours th {
    text-align: left;
}

/* CONTACT & THX PAGE */
.contact main {
    width: 580px;
}

.contact aside, .contact-thx aside {
    width: 320px;
    margin: 47px 20px 40px 0;
    border: 3px solid #8fbac4;
    border-radius: 30px;
    background-color: #273f45ef;
    padding: 15px;
}

.contact-thx aside {
    margin: 47px 20px 47px 0;
}

.contact label {
    margin: 7px 3px 7px 15px;
    color: #F3EFE9;
}

.contact h3:first-of-type, .contact-thx h3:first-of-type {
    margin: 0 3px 5px 10px;
    color: #F3EFE9;
}

.contact h3, .contact-thx h3 {
    margin: 25px 3px 5px 10px;
    color: #F3EFE9;
}

.contact p, .contact main a, .contact-thx p {
    margin: 2px 3px 2px 10px;
    color: #F3EFE9;
    text-decoration: none;
}

.contact legend {
    color: #F3EFE9;
    margin-left: 20px;
    padding: 0 8px;
    font-family: 'ralewaybold_italic';
}

form {
    max-width: 560px;
    margin: 29px 0 37px 20px;
}

fieldset {
    padding: 10px;
    border-radius: 30px;
    border: 3px solid #8fbac4;
    background-color: #273f45ef;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
    margin-left: 15px;
    height: 30px;
    width: 65%;
    background: #F3EFE9;
}

textarea {
    width: 95%;
    height: 110px;
    background: #F3EFE9;
    margin-left: 15px;
    margin-bottom: 22px;
}

input[type="submit"] {
    width: auto;
    color: #8fbac4;
    background: #273f45ef;
    border-radius: 10px;
    padding: 5px;
}

.contact main p {
    margin: 6px 9px 0 0;
}

.contact-thx main {
    height: 100px;
    color: #F3EFE9;
    text-align: center;
    margin: 47px 0 37px 20px;
    width: 560px;
    border: 3px solid #8fbac4;
    background-color: #273f45ef;
    border-radius: 30px;
}

.contact-thx h2 {
    margin: 10px 0;
}


/* -----------------------------------------------  */
/* -----------------------------------------------  */
/* -----------------------------------------------  */
/* FOOTER CONTENTS */

footer {
    background: #F3EFE9;
    width: 100%;
    border: 3px solid #8fbac4;
    border-radius: 85px 85px 0 0;
    clear: both;
}

.hours {
    padding-top: 5px;
    margin-left: 5px;
    /* background: #FAF8F5; */
    position:relative;
    bottom:-14px;
    left: -600px;
    color: #41281F;
}

.hours td {
    padding: 2px 10px;
    font-size: 0.85em;
}

.address {
    position:relative;
    bottom:162px;
    left: 254px;
    color: #41281F;

}

.address td {
    padding: 2px;
    font-size: 0.85em;
}

footer ul {
    margin-left: 20px;
    position: relative;
    bottom: -240px;
    left: 5px;
    
}

footer li {
    float: left;
    list-style-type: none;
    margin-right: 35px;    
    color: #41281F;
    font-size: 0.9em;
}

footer a {
    text-decoration: none;
    color: #41281F;
}

footer a:hover {
    opacity: 0.5;
}



/* -----------------------------------------------  */
/* -----------------------------------------------  */
/* -----------------------------------------------  */
 /* TYPOGRAPHY */


#primary a {
    font-size: 1.3em;
    text-shadow: 2px 2px 7px #F3EFE9;
}

.third p {
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 2px 2px 8px #000000;
}

.about main p, .about main td {
    line-height: 20px;
    font-size: 0.9em;
}

.contact main, .contact aside, .contact-thx aside {
    font-size: 1em;
    text-shadow: 2px 2px 5px #000000;
}


.contact legend {
    font-size: 2em;
    text-shadow: 4px 4px 7px #000000;
}